<div id="contact-content">

  <div id="contact-header">

    <h1>contact</h1>
    <h6>je réponds en général assez vite. parfois un peu moins. mais quand même, toujours en moins de 48h.</h6>

  </div>

  <div id="contact-form">

    <%= simple_form_for(@message, {url: new_message_path}) do |f| %>
      <%= f.input :email, label: "adresse mail :" %>
      <%= f.input :name, label: "nom & prénom :"%>
      <%= f.input :body, as: :text, label: "message :" %>

      <%#= f.submit value: "envoyer" %>
      <button>envoyer</button>
    <% end %>

  </div>

</div>





