/* ------ LAYOUTS : GENERAL ------ */

* {
  margin: 0;
}

body {
  font-size: 62.5%;
  color: $gray-blue;
  font-family: $body-font;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-blue;
}

h1, h2, h5 {
  font-family: $headers-font;
  font-weight: $font-weight-bold;
}

h4, h6 {
  font-weight: $font-weight-light;
  font-family: $accent-font;
}

h1 {
  font-size: 6.2rem;
  margin: 4.6rem auto 2.4rem;
}

h2 {
  font-size: 5.2rem;
  margin: 4.6rem auto 2.4rem;
}

h3 {
  font-size: 4.2rem;
  font-family: $accent-font;
  font-weight: $font-weight-semibold;
  margin: 3.4rem auto 1.6rem;
}

h4 {
  font-size: 2.6rem;
  font-family: $accent-font;
  text-transform: uppercase;
  margin: 3.4rem auto 1.6rem;
}

h5 {
  font-size: 2.6rem;
  margin: 3.4rem auto 1.6rem;
}

h6 {
  font-size: 2rem;
  font-family: $accent-font;
  margin: 3.4rem auto 1.6rem;
}

.accent-title {
  font-weight: $font-weight-light;
  font-family: $accent-font;
}


p, a {
  font-size: 1.4rem;
}

.accent-text {
  font-family: $accent-font;
  font-size: 1.3rem;
}

a {
  color: $gray-blue;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);

  &:hover {
    text-decoration: none;
  }

  &:visited,
  &:focus, {
    text-decoration: none;
    outline: none;
    outline-offset: 0px;
    color: $dark-blue;
  }
}

::selection {
  background:$teal-blue;
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  h1 {
    font-size: 8rem;
    margin: 5.2rem auto 2.2rem;
  }

  h2 {
    font-size: 6.4rem;
    margin: 5.6rem auto 2.2rem;
  }

  h3 {
    font-size: 4.8rem;
    margin: 4.2rem auto 2rem;
  }

  h4 {
    font-size: 3.2rem;
    margin: 3.8rem auto 1.8rem;
  }

  h5 {
    font-size: 3.2rem;
    margin: 3.8rem auto 1.8rem;
  }

  h6 {
    font-size: 2.8rem;
    margin: 3.8rem auto 1.8rem;
  }

  p, a {
    font-size: 1.6rem;
  }

  .accent-text {
    font-size: 1.5rem;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
