<h1>contact</h1>

<%= simple_form_for @message do |f| %>
  <%= f.input :rating, collection: 0..5  %>
    <div class="review-modal-content-form">

    <%= f.input :content, :input_html => {:rows => 5}, label: false, placeholder: 'your review' %>
    </div>

  <div class="review-modal-button">
  <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
