<div id="brand-title">
  <%= image_tag "cdltbisou-logo.svg" %>
  <h3>web + créa <span class="accent-title"> + et caetera</span></h3>
</div>

<div id="brand-infos">
  <h4>soon. <span class="accent-title"> en attendant, soyez polis.</h4>
  <%= link_to 'contact', 'mailto:salut@cdltbisou.com' %>
</div>

