<div id="header-contact">
  <%= link_to 'contact', 'mailto:salut@cdltbisou.com' %>
</div>

<div id="home-content">

  <div id="brand-title">
    <%= image_tag "cdltbisou-logo.svg" %>
    <h3>web + créa <span class="accent-title"> + et caetera</span></h3>
  </div>

  <div id="brand-infos">
    <h5>soon.</h5>
    <h5 class="accent-title">en attendant, soyez polis.</h5>
  </div>

</div>





