/* ------ VARIABLES : COLORS ------ */

// $dark-gray: #404040;
// $medium-gray: #707171;

$dark-blue: #14171C;
$gray-blue: #565A63;
$light-gray: #CACBCC;
$teal-blue: #97C4BF;
$golden-taupe: #BC9B77;
$corail: #C95E64;
